<header class="site-header">

<nav class="site-nav navbar navbar-inverse navbar-fixed-top">
<div class="col-sm-12">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	{% for page in site.pages %}
	  {% if page.title %}
	  <li>
	  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	  </li>
	  {% endif %}
	  {% endfor %}
	  </ul>
	  </div>
	</div><!--/.nav-collapse -->
</nav>



</header>


