---
layout: default
---

<header class="post-header">
<div class="col-sm-12">
    <h1 class="post-title">{{ page.title }}</h1>
</div>
</header>
  
<div class="post">


<div class="col-sm-8">
{% for post in site.posts %}{% if post.category == "blog" %}    
    	<div class="panel panel-default custom-no-border">
    		<div class="panel-body">
    		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    		<img src="{{ post.img | prepend: site.baseurl }}" />
        	<h2>
          	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        	</h2>
        	<span class="post-meta">{{ post.content }}</span>
        	<a href="{{post.id}}" data-disqus-identifier="{{post.id}}">Leave a comment</a>
      		</div>
      	</div>
{% endif %}{% endfor %}
</div>

<div class="col-sm-4">
<a class="twitter-timeline" href="https://twitter.com/natenatenate" data-widget-id="529341038503022592">Tweets by @natenatenate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="panel panel-default ">
	<div class="panel-body">
		{% for post in site.posts %}{% if post.category == "blog" %}
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
				<h2 class="custom-blogpost-sidebar">
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				<br>
		{% endif %}{% endfor %}
	</div>
</div>

</div>
</div>
