---
layout: default
---

<div class="post">

  <header class="post-header">
  <div class="col-sm-12">
    <h1 class="post-title">{{ page.title }}</h1>
    </div>
  </header>


  <article class="post-content">
  <div class="col-sm-12">
   <div class="col-sm-8">
    {{ content }}
    </div>
    </div>
  </article>

</div>
