---
layout: default
---


<div class="post">
<div class="col-sm-12">
	  <header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	  </header>
</div>
<div class="col-sm-8">
	  <article class="post-content">
		{{ content }}
	  </article>
	  {% include disqus.html %}
</div>
</div>
</div>

<div class="col-sm-4">
{% for images in page.images %}
<a href="{{ images.img }}" >
	<img class= "thumbnail" src="{{ images.img }}" />
</a>
{% endfor %}

<div class="twitter-panel">
<a class="twitter-timeline" href="https://twitter.com/natenatenate" data-widget-id="529310975447400448">Tweets by @natenatenate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>    
  		
<div class="panel panel-default ">
	<div class="panel-body">
		{% for post in site.posts %}{% if post.category == "blog" %}
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
				<h2 class="custom-blogpost-sidebar">
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				<br>
		{% endif %}{% endfor %}
	</div>
</div>
</div>
