---
layout: default
---


<div class="post">
<div class="col-sm-12">
	  <header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	  </header>
</div>
<div class="col-sm-8">
	  <article class="post-content">
		{{ content }}
	  </article>
</div>
</div>
</div>

<div class="col-sm-4">
{% for images in page.images %}
<a href="{{ images.img }}" >
	<img class= "thumbnail" src="{{ images.img }}" />
</a>
{% endfor %}
</div>
